html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "larsseit";
	font-weight: lighter;

}

/* navigation bar */

.nav{
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid rgba(0,0,0,0,1)


} 

.nav.scrolled {
	background-color: #fff;
	transition: background-color 300ms linear;

}


.menuopen {
	position: absolute;
	line-height: 60px;
	left: 1.4em;
}

.brand span a {
	position: absolute;
	line-height: 60px;
	left: 50%;
	transform: translateX(-50px);
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 300;
	letter-spacing: 4px;

}

.brand a:hover {
	text-decoration: none;


}

.cart{
	position: absolute;
	line-height: 60px;
	right: 1.4em;
	font-weight: 300;
}

.menu {
	position: fixed;
	z-index: 2;
	width: 30%;
	left: -30%;
	height: 100vh;
	background: #fff;
	border-right: 1px solid rgba(0,0,0,0,1);
}

@media(max-width: 900px) {
	.menu {
		width: 100%;
		left: -100%;
	}
}

.menuclose {
	position: relative;
	line-height: 60px;
	float: right;
	margin-right: 20px;

}

.menu ul {
       list-style: none;
       position: relative;
       top: 40%;
       left: 10%;
       transform: translate(0%, -50%);
}

.menu ul li {
	padding-bottom: 20px ;

}
.menu ul li a {
	font-size: 20px;
}

.menu ul li a:hover {
	text-decoration: none;
}

.media-menu {
	position: relative;
	top: 50%;
}

.media-menu li {
	display: inline-block;
	padding-right: 10px; 
}

/* hero section */

.hero-section{
	height: 100vh;
	border-bottom: 1px solid rgba(0,0,0,0,1);
}

.hero-left {
	height: 100vh;
	background-color: #f7f6f2;
	z-index: -1;

}

.tagline {
	position: absolute;
	margin-top: 130px;
	margin-left: 40px;
	font-family: "playfair display";
	font-size: 24px;
	font-weight: 300;
}

a {
	color: grey;
	font-family: "larsseit";
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.shipping {
	position: absolute;
	bottom: 30px;
	margin-left: 40px;
	font-weight: 300;
} 

.hero-image{
	position:  absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

img {
	width: 100%
}

.media {
	ppos
	alignment-baseline: 
	bottom: 20px;
	right: 0;
	margin-right: 20px;

}

.media li{
	list-style: none;
}

.media li{
	display: inline-block;
	margin-right: 20px;
}

@media(max-width: 900px) {
	.hero-image {
		display: none;
	}

	.media {
		margin-right: 0;

	}
}

.section {
	padding: 80px 40px;
}

.section p{
	font-family: "playfair  display";
	font-size: 24px;
	font-weight: 300;

}

.prod {
	margin-top: 20px;

}

.prod:hover a{
	text-decoration: none;
}

#prod-desc {
	margin-top: 16px;
	font-size: 14px;
	font-weight: 300;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column-block {
  float: left;
  width: 25%;
  padding: 40px;
  height: 100px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}							


.column-prod {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

   /* Should be removed. Only for demonstration */


.column-prodc {

  float: left;
  width: 25%;
  padding: 30px;
  height:600px;
  

   /* Should be removed. Only for demonstration */
}

.prod-sec {
	width: 101.2;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);

}

.prod-sec p{
	font-family: "playfair display";
	font-size: 20px;
	font-weight: 300;

	}

@media(max-width: 900px){
	.prod-sec {
		padding-left: 30px;
		width: 100%;
		border: none;
	}
	.prod-sec a {
		display: none;
	}
}	


#price {
	font-family: "larsseit";
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px; 
}

.prod-list #prod-desc {
	font-family: "larsseit";
	color: grey; 
}

.footer {
	padding: 30px 0;
	background: #f7f6f2;
}

.block{
     margin-top: 40px;
}

.footer .media {
	top: 20px
}

.footer p{
	text-align: center;
	font-family: "larsseit";
	font-size: 20px; 

}

.whitespaces {
	height: 20px;
}

.collection {
	padding: 40px 0;
	border-bottom: 1px solid rgba(0,0,0,0,1);

}

.collection #heading {
	font-family: "playfair display";
	font-size: 20px;
	margin-left: 50px;
	padding-bottom: 0;
	position: relative;
	display: inline-block;
}

#heading::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #ffff;
}

.colection .section {
	margin: -50px 0;
}


.input-helper {
	position: relative;
	display: inline-block;
	font-family: "larsseit";
	text-transform: "uppercase";
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 4px;
}

.input-helper:before {
	content:'';
	display: block;
	position: absolute;
}

.input-helper--radio {
	padding-left: 18px;
}

.input-helper--radio:before{
	top: 2px;
	left: 0px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border:1px solid #222;
}
input[type="radio"]:checked + label:before {
	background: #222;
}
input[type="radio"] {
	display: none;
}

.add-prod {
	margin: 50px 0;
	margin-left: 50px;
	left: 20px;
}

.add-prod a {
	padding: 20px 40px;
	background: #000;
	font-weight: 300px;
	letter-spacing: 4px;
	color: #fff;
	text-decoration: none;
	margin-left: 50px;
}